Flask==3.0.0
Flask_Cors==4.0.0
pydantic
langchain
langchain-community
langchain-huggingface==1.0.1
chromadb==0.5.3
langchain-chroma
langchain_openai
hf-xet==1.1.5
sentence-transformers==5.1.1
Markdown
pdfplumber
isodate==0.6.1
pandas==2.1.3
scikit-learn
numpy
psycopg2==2.9.9
transformers==4.42.3
sentencepiece==0.2.0
pytest