Flask==3.0.0
Flask_Cors==4.0.0
chromadb==0.4.17
pydantic==1.10.11
InstructorEmbedding==1.0.1
langchain==0.0.352
sentence-transformers==2.2.2
openai==1.3.7
Markdown
pdfplumber
isodate==0.6.1
pandas
scikit-learn
numpy
gunicorn